<div class="container">
	<div class="text-center">
		<h1>Jobs</h1>
	</div>

	 <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Cost</th>
        <th>Containers</th>
      </tr>
    </thead>
    <tbody>
    	<% @jobs.each do |t| %>
      <tr>
        <td><%= t.description %></td>
        <td><%= t.origin %></td>
        <td><%= t.destination %></td> 
        <td><%= t.cost %></td>
        <td><%= t.containers %></td>
        <td><%= link_to "Edit Job", edit_job_path(t) %></td>
         <td><%= link_to "Delete Job", job_path(t), method: :delete, data: {confirm: "Are you sure?"} %><td>
      </tr>
       <% end %>
    </tbody>
  </table>
	
  <div class="container">
  <div class="text-center">
<p> <%= link_to "Add a new Job", new_job_path %> </p>
</div>
</div>
</div>