<%= form_for @boat, html: { multipart: true } do |f| %>
<% if @boat.errors.any? %>
<div id="error_explanantion">
<h2><%= pluralize(@boat.errors.count, "error") %> prohibited this post from being saved:</h2>	

<ul>
	<% @boat.errors.full_message.each do |message| %>
	<li><%= message %></li>
	<% end %>
</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :avatar %>
	<%= f.text_field :avatar %>
</div>

<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>

<div class="field">
	<%= f.label :container %>
	<%= f.text_field :container %>
</div>

<div class="field">
	<%= f.label :location %>
	<%= f.text_field :location %>
</div>