<div class="container">
	<div class="text-center">
		<h1>Edit Boat</h1>
	</div>
<%= bootstrap_form_for(@boats, layout: :horizontal) do |t| %>
			<p><%= t.text_field :name %></p>
			<p><%= t.text_field :containers %></p>
			<p><%= t.text_field :location %></p>
		<div class="text-center">
				<%= submit_tag "Confirm" %>
		</div>
		<% end %>
</div>
