<%= form_for @boats do |f| %>

<div class="container">
  <div class="text-center">
<h1>Add a new Boat</h1>
<p>Name	<%= f.text_field :name %></p>

<p>Container	<%= f.text_field :containers %></p>

<p>Location	<%= f.text_field :location %></p>


<%= submit_tag "Add"%>
</div>
</div>
<% end %>