<!DOCTYPE html>
<html>
  <head>
    <title>Shipped</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid"></div>
        <div class="navbar-header"></div>
          <div class="navbar-brand">Shipping App</a>
          </div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Boats", boats_path %></li>
        <li><%= link_to "Jobs", jobs_path %></li>
        <li><%= link_to "Assign Jobs", boat_jobs_path %></li>
      </ul>
    </nav>
</div>

<div class="header">
  <img src="http://s3-eu-west-1.amazonaws.com/s.informaglobalevents.com/event/lloyds-maritime-academy/b/1471450094/o-1.jpg">
</div>

<div class="container">
  	<p class="navbar-text pull-right">
		<% if user_signed_in? %>
  			Logged in as <strong><%= current_user.email %></strong>.
  			<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  			<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
		<% else %>
  			<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  			<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %>
	</p>

  	<% if notice %>
  		<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
  		<p class="alert alert-danger"><%= alert %></p>
	<% end %>
</div>
    <%= yield %>
  </body>
</html>
